{% extends "base.html" %}

{% block content %}
<div class="breadcrumb"><a href="/">/</a><a href="/events">events</a>/{{ page.slug }}</div>
<h1 class="rho">
  {{ page.title }} <span style="font-size: 14px;">{{page.date}}</span>
</h1>

{% if page.toc and not page.extra.hide_toc %}
    <nav class="toc">
    {% for h1 in page.toc %}
        <div class="toc-h1">
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
        </div>
        {% if h1.children %}
            {% for h2 in h1.children %}
                <div class="toc-h2">
                    <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                </div>
                {% if h2.children %}
                    {% for h3 in h2.children %}
                        <div class="toc-h3">
                            <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    </nav>
{% endif %}

{{ page.content | safe }}
{% endblock content %}