{% extends "base.html" %}
{% block head %}
    <style>
        .landing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height:100vh; min-height:100dvh;
        text-align: center;
        }
        .svg-container { width: 100%; max-width: 400px; margin: 0 auto; display: inline-block;}
        .svg-container img { width: 100%; height: auto; display: block;}
        .separator { letter-spacing: -9px; }
        .quiet, .links-container a { color: inherit; }
        .links-container { font-size: 24px; margin: 20px; }
        .links-container a { text-decoration: none; margin: 0 10px; }
        h2 a {text-decoration: none;}
    </style>
{% endblock head %}

{% block content %}
<div class="landing">
    <div class="svg-container">
        <img src="logo.svg" alt="logo">
    </div>
    <div class="links-container">
        <a href="#rho">rho</a><span class="separator">|</span>
        <a href="#events">events</a><span class="separator">|</span>
        <a href="#blog">blog</a><span class="separator">|</span>
        <a href="https://github.com/rhoweb">github</a>
    </div>
</div>

<hr>
<h2 id="rho">ramaiah hardware org</h2>
<p><span class="rho">r</span>amaiah <span class="rho">h</span>ardware <span class="rho">o</span>rg, or <span class="rho">rho 𝜌</span> for short, aims to be the first electronics club of its kind in RIT. we explore free and open source tools for all kinds of hardware design, from device physics simulation to IC design to PCB design. our mission is to <span class="rho">democratize hardware design</span> -- incubate an environment for creative design unrestricted by licenses, NDAs and paywalls.</p>

<hr>

<h2 id="events"><a href="{{ get_url(path='@/events/_index.md') }}">/events</a></h2>
<p>
    {% set events_section = get_section(path="events/_index.md") %}
    {% for page in events_section.pages | slice(end=3) %} <a href="{{ page.permalink | safe }}">{{ page.title }}</a> / {{ page.date }}
    <br>
    {% endfor %}
</p>
<hr>

<h2 id="blog"><a href="{{ get_url(path='@/blog/_index.md') }}">/blog</a></h2>
<p>
    {% set blog_section = get_section(path="blog/_index.md") %}
    {% for page in blog_section.pages | slice(end=3) %} <a href="{{ page.permalink | safe }}">{{ page.title }}</a> / {{ page.date }}
    <br>
    {% endfor %}
</p>

<p class="footer">© 2026 -- Mohit Lingarkar</p>

{% endblock content %}